@import 'tailwindcss';

@font-face {
    font-family: inria;
    src: url(/fonts/Inria_Sans/InriaSans-Regular.ttf);
}

@font-face {
    font-family: inknut;
    src: url(/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf);
}

@theme{
    --color-back: #F7F9FE;
    --color-primary: #0D6EFD;
    --color-secondary: #111;
    --color-extra: #FEE26B;
    --color-text: #021741;
    --font-inria: inria;
    --font-inknut: inknut;
}

html,body{
    @apply bg-zinc-900;
}